* {
    font-family: "Open Sans", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

/* body {
    background-color: #000;
} */

input:focus {
    outline: none;
}